:root {
    --primary: #bd1ee5;
}

a {
    text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #223d3c; 
}

::-webkit-scrollbar-thumb {
    background: #1ecee5; 
}

::-webkit-scrollbar-thumb:hover {
    background: #1b9dd1; 
}